<div>
    <h3>This server is used for rides transaction use the url below:</h3>
    <h4>Check health of rides</h4>
    <ul><i>localhost:8010/health</i></ul>
    <h4>View Documentation</h4>
    <ul><i>localhost:8010/viewDocumentation</i></ul>
    <h4>Input Rides</h4>
    <ul><i>localhost:8010/inputRides</i></ul>
    <h4>Get all the rides</h4>
    <ul><i>localhost:8010/getRides</i></ul>
    <h4>Select specific rides(id = any number)</h4>
    <ul><i>localhost:8010/selectRides/:id</i></ul>
</div>